<h1>Ask the coach a question</h1>
<!-- <p>Find me in app/views/pages/ask.html.erb</p> -->

<form action="/answer" method="get">
  <input type="text" name="question" placeholder="Ask your coach...">
  <input type="submit" value="Ask!">
</form>
